apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: default
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  project: default
  source:
    repoURL: https://helm.traefik.io/traefik
    chart: traefik
    targetRevision: 23.0.1
    helm:
      values: |
        service:
          type: NodePort
        providers:
          kubernetesIngress:
            publishedService:
              enabled: true
        additionalArguments:
          # - --providers.kubernetesingress.ingressendpoint.hostname=spring-boot-helm-test.192.168.49.2.nip.io
          - --providers.kubernetesingress.ingressendpoint.ip=192.168.49.2
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
