controllers:
  cardservercontroller:
    replicas: 3
    strategy: RollingUpdate
    rollingUpdate:
      unavailable: 0
    containers:
      cardserver:
        image:
          repository: ghcr.io/bhuism/cardserver
          tag: "latest"
          pullPolicy: Always
        probes:
          liveness:
            enabled: true
            type: HTTP
            path: /manage/health/liveness
            port: 9080
            spec:
              initialDelaySeconds: 15
              timeoutSeconds: 5
              periodSeconds: 10
              failureThreshold: 3
          readiness:
            enabled: true
            type: HTTP
            path: /manage/health/readiness
            port: 9080
            spec:
              initialDelaySeconds: 15
              timeoutSeconds: 5
              periodSeconds: 10
              failureThreshold: 3
          startup:
            enabled: true
            port: 9080
            spec:
              initialDelaySeconds: 15
              timeoutSeconds: 5
              periodSeconds: 3
              failureThreshold: 10
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          capabilities:
            drop:
              - ALL
          seccompProfile:
            type: RuntimeDefault
        resources:
          limits:
            cpu: 2
            memory: 2Gi
          requests:
            cpu: 2
            memory: 2Gi
        env:
          SPRING_PROFILES_ACTIVE: production
          CARDSERVER_AUTH_JWT_ES512_SECRET:
            valueFrom:
              secretKeyRef:
                name: jwtsecret
                key: jwtes512secretvalue
          # LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_SECURITY: trace
          # LOGGING_LEVEL_ROOT: debug
          # LOGGING_LEVEL_NL_APPSOURCE: debug
  couchbase2rediscontroller:
    replicas: 1
    strategy: Recreate
    containers:
      couchbase2redis:
        image:
          repository: ghcr.io/bhuism/couchbase2redis
          tag: "latest"
          pullPolicy: Always
        probes:
          liveness:
            enabled: true
            type: HTTP
            path: /manage/health/liveness
            port: 9081
            spec:
              initialDelaySeconds: 15
              timeoutSeconds: 5
              periodSeconds: 10
              failureThreshold: 3
          readiness:
            enabled: true
            type: HTTP
            path: /manage/health/readiness
            port: 9081
            spec:
              initialDelaySeconds: 15
              timeoutSeconds: 5
              periodSeconds: 10
              failureThreshold: 3
          startup:
            enabled: true
            port: 9081
            spec:
              initialDelaySeconds: 15
              timeoutSeconds: 5
              periodSeconds: 3
              failureThreshold: 10
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          capabilities:
            drop:
              - ALL
          seccompProfile:
            type: RuntimeDefault
        resources:
          limits:
            cpu: 2
            memory: 2Gi
          requests:
            cpu: 2
            memory: 2Gi
        env:
          SPRING_PROFILES_ACTIVE: production
  streamcontroller:
    replicas: 3
    strategy: RollingUpdate
    rollingUpdate:
      unavailable: 0
    containers:
      stream:
        image:
          repository: ghcr.io/bhuism/stream
          tag: "latest"
          pullPolicy: Always
        probes:
          liveness:
            enabled: true
            type: HTTP
            path: /manage/health/liveness
            port: 9082
            spec:
              initialDelaySeconds: 1
              timeoutSeconds: 5
              periodSeconds: 10
              failureThreshold: 3
          readiness:
            enabled: true
            type: HTTP
            path: /manage/health/readiness
            port: 9082
            spec:
              initialDelaySeconds: 15
              timeoutSeconds: 5
              periodSeconds: 10
              failureThreshold: 3
          startup:
            enabled: true
            port: 9082
            spec:
              initialDelaySeconds: 15
              timeoutSeconds: 5
              periodSeconds: 3
              failureThreshold: 10
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          capabilities:
            drop:
              - ALL
          seccompProfile:
            type: RuntimeDefault
        resources:
          limits:
            cpu: 2
            memory: 2Gi
          requests:
            cpu: 2
            memory: 2Gi
        env:
          SPRING_PROFILES_ACTIVE: production
service:
  cardserverservice:
    controller: cardservercontroller
    ports:
      cardserverport:
        port: 8080
  streamservice:
    controller: streamcontroller
    ports:
      streamport:
        port: 8082

ingress:
  mainingress:
    className: nginx-external
    annotations:
      external-dns.alpha.kubernetes.io/target: jasmine.odee.net
      external-dns.alpha.kubernetes.io/cloudflare-proxied: "false"
      cert-manager.io/cluster-issuer: letsencrypt-production
      gethomepage.dev/enabled: "true"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
      nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
      nginx.ingress.kubernetes.io/proxy-buffering: "off"
      nginx.ingress.kubernetes.io/proxy-request-buffering: "off"
    hosts:
      - host: api.klaversjassen.nl
        paths:
          - path: /
            service:
              identifier: cardserverservice
              port: cardserverport
      - host: stream.klaversjassen.nl
        paths:
          - path: /
            service:
              identifier: streamservice
              port: streamport
    tls:
      - secretName: api.klaversjassen.nl
        hosts:
          - api.klaversjassen.nl
      - secretName: stream.klaversjassen.nl
        hosts:
          - stream.klaversjassen.nl
