controllers:
  main:
    replicas: 1
    strategy: RollingUpdate
    rollingUpdate:
      unavailable: 0
      surge: 1
    containers:
      main:
        image:
          repository: ghcr.io/jeroenkolk/klaversjassen-ai
          tag: "latest"
          pullPolicy: Always
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          capabilities:
            drop:
              - ALL
          seccompProfile:
            type: RuntimeDefault
        resources:
          limits:
            cpu: 2
            memory: 2Gi
          requests:
            cpu: 2
            memory: 2Gi
        env:
service:
  main:
    controller: main
    ports:
      http:
        port: 8080

ingress:
  main:
    className: nginx-external
    annotations:
      external-dns.alpha.kubernetes.io/target: jasmine.odee.net
      external-dns.alpha.kubernetes.io/cloudflare-proxied: "false"
      cert-manager.io/cluster-issuer: letsencrypt-production
      gethomepage.dev/enabled: "true"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
      nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
      nginx.ingress.kubernetes.io/eventsource: "true"
    hosts:
      - host: ai.klaversjassen.nl
        paths:
          - path: /
            service:
              identifier: main
              port: http
    tls:
      - secretName: ai.klaversjassen.nl
        hosts:
          - ai.klaversjassen.nl
