apiVersion: postgresql.cnpg.io/v1
kind: ScheduledBackup
metadata:
  name: backup-postgresql
  namespace: cloudnative-pg
spec:
  schedule: "0 0 0 1 * *"
  backupOwnerReference: self
  cluster:
    name: postgresql
